<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation>  
  <div class="row ">
    <div class="col-md-6 col-md-offset-1">
        <div class="Compose-Message">               
        <div class="panel panel-default">
            <div class="panel-heading">
                Compose New Message 
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                  <label>Select</label>
                  <div>
                    <div class= "col-sm-3" ng-dropdown-multiselect="" options="vm.classes" selected-model="vm.selectedClasses" extra-settings="vm.controlSettings" events= "vm.firedEvents" translation-texts="vm.buttonLabel"></div>
                    <a href="#" class="btn col-sm-3" ng-click="vm.selectRecipients()"> Filter Students </a>
                  </div>
                </div>
                
                
                <div class="form-group">
                  <div>
                    <label></label>
                  </div>

                  <div class ="row">
                    <label>Type</label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" ng-model="vm.messageType" value="DIARY_NOTE">
                      Diary Note
                    </label>
                    <label>
                      <input type="radio" ng-model="vm.messageType" ng-value="HOMEWORK">
                      Homework
                    </label><br/>
                  </div>
                </div>  

                <label>Subject</label>
                <div class="form-group">
                  
                  <input type="text" class="form-control" ng-model="vm.messageSubject"/>
                </div>
                
                <label>Message</label>
                <textarea rows="6" class="form-control" ng-model="vm.messageText"></textarea>
                <label class="control-label">Attachment</label>
                <div>
                    <input type="file" custom-on-change="vm.uploadFile" file-model="vm.myFile" name="photo">
                    
                </div>
                <div class="spinner"></div>
                
                <hr />
                <a href="#" class="btn btn-warning" ng-click="vm.send()"><span class="glyphicon glyphicon-envelope" ></span> Send Message </a>&nbsp;
            </div>
           </div>
        </div>
                <!-- COMPOSE MESSAGE END -->
        </div>
    </div>
  </div>
 <footer-generic></footer-generic>
</div>