<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <!--<side-navigation></side-navigation>-->

  <div class="row">
    <section class="content">
    <a ng-click="vm.onReturnClick()" class="floatRTL btn btn-danger btn-flat pull-right btn-space marginBottom15 hidden-print">Return</a>
    <a href="javascript:window.print()" class="floatRTL btn btn-success btn-flat pull-right btn-space marginBottom15 hidden-print">Print</a>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Std {{vm.selectedClass.ClassSection}}</h3>
        </div>
        <div class="box-body table-responsive">
        <form class="form-horizontal" name="editDorm" role="form" ng-submit="saveEdit()" novalidate>
            <table class="table table-bordered table-hover col-sm-12">
            <tbody>
                <tr>
                    <th style="width: 8px">Day</th>
                    <th>Class Schedule</th>
                    <th style="width: 8px" class="hidden-print">Add</th>
                    <th style="width: 20px" class="hidden-print">Copy</th>
                    <th style="width: 20px" class="hidden-print">Paste</th>
                </tr>
                <tr ng-repeat="(key,sch) in vm.classSchedule.Days">
                    <td>{{sch.Day}}</td>
                    <td>
                    <div class="btn-group btn-space" ng-repeat="subSch in sch.TimeSlots">
                        <button type="button" class="btn btn-default">{{subSch.SubjectName}} {{subSch.StartTime}}-{{subSch.EndTime}}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">{{phrase.toggleDropdown}}</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="vm.editSubOne(subSch)">Edit</a></li>
                            <li><a ng-click="vm.removeSub(subSch)">Remove</a></li>
                        </ul>
                    </div>
                    </td>
                    <td class="hidden-print">
                    <a ng-click="vm.addSubOne(sch)" type="button" class="btn btn-info btn-flat"><i class="glyphicon glyphicon-plus"></i></a>
                    </td>
                    <td class="hidden-print">
                    <a ng-click="vm.copySubOne(sch)" type="button" class="btn btn-info btn-flat"><i class="glyphicon glyphicon-copy"></i></a>
                    </td>
                    <td class="hidden-print">
                    <a ng-click="vm.pasteSubOne(sch)" type="button" class="btn btn-info btn-flat"><i class="glyphicon glyphicon-paste"></i></a>
                    </td>
                </tr>
            </tbody>
            </table>
            <div class="form-group hidden-print">
                <div class="pull-right col-sm-10">
                    <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                    <button type="submit" class="btn btn-default" ng-click= "vm.onSubmit()">Update</button>
                </div>
            </div>

        </form>
        </div>
    </div>
    </section>
  </div>
 <footer-generic></footer-generic>
</div>