<modal>
        <form class="form-horizontal" name="addSubForm" role="form" ng-submit="vm.onSubmit()" novalidate>
            <div class="modal-header">
              <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h2 id="myModalLabel" class="modal-title">Update Timetable</h2>
            </div>
    
                
            <!-- <div class="form-group" ng-class="{'has-error': addSubForm.teacherId.$invalid}">
              <label for="inputPassword3" class="col-sm-2 control-label">Classes</label>
              <div class="col-sm-5">
                <div class= "col-sm-4" ng-dropdown-multiselect="" options="vm.classes" selected-model="vm.selectedClasses" extra-settings="vm.controlSettings" events= "vm.firedEvents" translation-texts="vm.buttonLabel"></div>
              </div>
            </div> -->
    
            
           
            <div class="form-group" ng-class="{'has-error': addSubForm.startTimeHour.$invalid || addSubForm.startTimeMin.$invalid}">
              <label for="inputPassword3" class="col-sm-2 control-label">Modify time *</label>
              <div class="col-sm-10">
                <div class="row">
                  
                  <div class="col-xs-3">
                    <select class="form-control" ng-model="vm.updateTimeMinutes" required name="startTimeMin">
                      <option ng-repeat="i in ['00','05','10','15','20','25','30','35','40','45','50','55']" value="{{i}}">{{i}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-12">
                <button type="submit" class="btn btn-default" ng-disabled="addSubForm.$invalid || $isUploading">Update</button>
              </div>
            </div>
        </form>
    </modal>
    