<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation> 
 
  <!--<div class="row">
    <div class="col-md-6 col-sm-12">
      <div>Showing list of teachers</div>
      <table>
        <tbody ng-repeat="teacher in vm.teachers">
          <tr>{{teacher.TeacherLastName}}</tr>
        </tbody>
      </table>
    </div>
  </div>-->
  <div class="row">
     <div class="col-md-8 col-sm-12">
       <button type="button" class="btn btn-primary" ng-click="vm.addStudent()">Add</button>
      <!-- Secondary, outline button -->
       <button type="button" class="btn btn-secondary" ng-click="vm.sendMessage()">Message</button>
       <button type="button" class="btn btn-danger" ng-click="vm.deleteStudent()">Delete</button> 
       <div class="row" style="margin-top: 10px;">
        <label for="filter" style="margin-right: 10px; margin-left: 20px;">Search</label>
        <input ng-model="q" id="search" placeholder="Search text">
        
        <label for="inputPassword3" style="margin-right: 10px; margin-left: 10px;" class="control-label">Class</label>
        <select ng-model="vm.selectedClass" ng-change="vm.filterData()" required name="selectedClass">
          <option ng-repeat="i in vm.classes" value="{{i.ClassSection}}">{{i.ClassSection}}</option>
        </select>
        <label style="margin-right: 10px; margin-left: 10px;">App Installed
          <input type="checkbox" ng-model="vm.filterOnAppInstalled" ng-change="vm.filterData()">
        </label>
        
       </div>
      <div class="error">{{vm.message }}</div>
      <div class="spinner" ng-show="vm.loading"></div>
      <div class="row list-group">
        <div class="box-body table-responsive">
          <table class="table table-hover">
              <tbody><tr>
                  <th><input type="checkbox" ng-model="vm.selectedAll" ng-click="vm.checkAll()" /></th>
                  <th>Image</th>
                  <th>FullName</th>
                  <th>Mobile Number(s)</th>
                  <th>Std</th>
                  <th class='no-print'>Operations</th>
              </tr>
              <tr dir-paginate="student in vm.filteredStudents | filter:q | orderBy:['StudentClassStandard','StudentFirstName']|itemsPerPage:50">
                  <!--<td>{{student.StudentId}}</td>-->
                  <td>
                      <input type="checkbox" ng-model="student.selected"/>
                  </td>
                  <td>
                      <img class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{student.ImageUrl}}">
                     
                  </td>
                  <td><a href="" ng-click="vm.studentProfile(student)">{{student.StudentFirstName|titleCase }}</a></td>
                  <td>{{student.StudentParentMobiles}}</td>
                  <td>{{student.StudentClassStandard}}</td>
                  <td class='no-print'>
                    <a ng-click="vm.edit(student)" type="button" class="btn btn-info btn-flat" title="Edit" tooltip><i class="glyphicon glyphicon-edit"></i></a>
                    <a ng-click="vm.remove(student,$index)" type="button" class="btn btn-danger btn-flat" title="Remove" tooltip><i class="glyphicon glyphicon-trash"></i></a>
                  </td>
              </tr>
              <tr ng-show="!vm.students.length"><td class="noTableData" colspan="6">{{phrase.noStudents}}</td></tr>
          </tbody></table>
          <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>

        </div>
        
      </div>
  
  </div>
  </div>
  <footer-generic></footer-generic>
</div>