<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation>

  <div class="row">
     <div class="col-md-6 col-sm-12">
       <button type="button" class="btn btn-primary btn-space" ng-click="vm.addClass()">Add</button>
      
       <button type="button" class="btn btn-danger btn-space" ng-click="vm.deleteClass()">Delete</button> 
      <div class="error">{{ vm.message }}</div>
      <!--<div class="row list-group">
        <div class="col-xs-12 list-group-item" dir-paginate="teacher in vm.teachers | filter:q | itemsPerPage: 3">
          <h4><a href="#/teacher/{{teacher.TeacherId}}">{{ teacher.TeacherFirstName }}</a>
            
          <div class="input-group pull-right">
            <input type="checkbox" class="pull-right" ng-model="vm.selectedIds[teacher.TeacherId]" ng-click="vm.onCheckBoxClick(teacher)" aria-label="Checkbox for following text input">
            
            </h4>
          </div>
        </div>
        <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>-->
         <div class="box-body table-responsive">
          <table class="table table-hover">
              <tbody>
                <tr>
                  <!--<th><input type="checkbox" ng-model="vm.selectedAll" ng-click="vm.checkAll()" /></th>-->
                  <th>Class</th>
                  <th>Section</th>
                </tr>
              <tr dir-paginate="(key, value) in vm.classSectionMap | itemsPerPage:20">
                   <!--<td>
                      <input type="checkbox" ng-model="class.selected"/>
                    </td>-->
                  <td>
                    <label>{{key}}</label></td>
                  <td>
                    <span ng-repeat="v in value">
                      {{v}} {{$last ? '' : ($index==value.length-2) ? ', ' : ', '}}
                    </span></p>  
                  </td>
                </tr>
              <tr ng-show="!vm.classes.length"><td class="noTableData" colspan="5">No Subjects</td></tr>
          </tbody></table>
          <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div> 

      </div>
      
  </div>
  </div>
 <footer-generic></footer-generic>
</div>