<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>
    <!--<side-navigation></side-navigation> -->
    <section class="content">
        <!--<a ng-click="changeView('list')" class="floatRTL btn btn-danger btn-flat pull-right marginBottom15">Cancel</a>-->
        <div class="box col-xs-12">
            <div class="box-body table-responsive">
                <form class="form-horizontal" name="editAdmin" role="form">
                    <div class="form-group" ng-class="{'has-error': editAdmin.fullName.$invalid}">
                        <label for="inputPassword3" class="col-sm-2 control-label">Full Name </label>
                        <div class="col-sm-10">
                            <input type="text" name="fullName" ng-model="vm.teacher.TeacherFirstName" class="form-control" placeholder="Full Name" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': editAdmin.email.$invalid}">
                        <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" ng-model="vm.teacher.EmailId" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" ng-model="form.password" class="form-control" placeholder="Password">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Gender</label>
                        <div class="col-sm-10">

                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="MALE" ng-model="vm.teacher.TeacherGender">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="FEMALE" ng-model="vm.teacher.TeacherGender">
                                    Female
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">BirthDate</label>
                        <div class="col-sm-10">
                            <input type="text" id="datemask" name="birthday" ng-model="vm.TeacherDOB" class="form-control datemask">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" name="address" class="form-control" ng-model="vm.teacher.PresentAddress" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': editAdmin.phoneNo.$invalid}">
                        <label for="inputPassword3" class="col-sm-2 control-label">PhoneNo</label>
                        <div class="col-sm-10">
                            <input type="text" name="phoneNo" class="form-control" ng-model="vm.teacher.MobileNumber" placeholder="PhoneNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Photo</label>
                        <div class="col-sm-10">
                            <input type="file" custom-on-change="vm.uploadFile" file-model="vm.myFile" name="photo">
                        </div>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th><input type="checkbox" /></th>
                                    <th>Role</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                </tr>
                                <tr dir-paginate="roles in vm.teacher.TeacherRoleList | filter:q | itemsPerPage:20">
                                    <td>
                                        <input type="checkbox" /></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="roles.TeacherRoleType" required/></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="roles.TeacherRoleforStd" required/></td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="roles.TeacherRoleforSubject" required/></td>
                                </tr>
                                <tr ng-show="!vm.teacher.TeacherRoleList.length">
                                    <td class="noTableData" colspan="5">No Roles</td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
                            <button type="submit" class="btn btn-default" ng-click="vm.onSubmit()" ng-disabled="vm.loading">{{vm.modeText}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


</div>