<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation> 
 
  <!--<div class="row">
    <div class="col-md-6 col-sm-12">
      <div>Showing list of teachers</div>
      <table>
        <tbody ng-repeat="teacher in vm.teachers">
          <tr>{{teacher.TeacherLastName}}</tr>
        </tbody>
      </table>
    </div>
  </div>-->
  <div class="row">
     <div class="col-md-6 col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody ng-repeat="teacher in vm.teachers">
      <tr >
      <th scope="row">1</th>
      <td>{{teacher.TeacherFirstName}}</td>
      <td>{{teacher.TeacherLastName}}</td>
      <td>{{teacher.TeacherFirstName}}</td>
    </tr>
  </tbody>
  </table>
  
  </div>
  </div>
 <footer-generic></footer-generic>
</div>