<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation> 
 
  <!--<div class="row">
    <div class="col-md-6 col-sm-12">
      <div>Showing list of teachers</div>
      <table>
        <tbody ng-repeat="teacher in vm.teachers">
          <tr>{{teacher.TeacherLastName}}</tr>
        </tbody>
      </table>
    </div>
  </div>-->
  <div class="row">
     <div class="col-md-8 col-sm-12">
       <button type="button" class="btn btn-primary" ng-click="vm.addTeacher()">Add</button>
      <!-- Secondary, outline button -->
       <!--<button type="button" class="btn btn-secondary" ng-click="vm.sendMessage()">Message</button>-->
       <button type="button" class="btn btn-danger" ng-click="vm.deleteTeacher()">Delete</button> 
       <div>
        <label for="filter">Filter results</label>
        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
       </div>
      <div class="error">{{ vm.message }}</div>
      <!--<div class="row list-group">
        <div class="col-xs-12 list-group-item" dir-paginate="teacher in vm.teachers | filter:q | itemsPerPage: 3">
          <h4><a href="#/teacher/{{teacher.TeacherId}}">{{ teacher.TeacherFirstName }}</a>
            
          <div class="input-group pull-right">
            <input type="checkbox" class="pull-right" ng-model="vm.selectedIds[teacher.TeacherId]" ng-click="vm.onCheckBoxClick(teacher)" aria-label="Checkbox for following text input">
            
            </h4>
          </div>
        </div>
        <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>-->
         <div class="box-body table-responsive">
          <table class="table table-hover">
              <tbody><tr>
                  <th><input type="checkbox" ng-model="vm.selectedAll" ng-click="vm.checkAll()" /></th>
                  <!--<th>ID</th>-->
                  <th>Image</th>
                  <th>Name</th>
                  <th>Mobile Number</th>
                  <th>Email</th>
                  <th class="no-print">Operation</th>
              </tr>
              <tr dir-paginate="teacher in vm.teachers | filter:q | orderBy:['TeacherFirstName'] | itemsPerPage:20">
                  <!--<td>{{teacher.TeacherId}}</td>-->
                   <td>
                      <input type="checkbox" ng-model="teacher.selected"/></td>
                  <td>
                      <img class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{teacher.ImageUrl}}">
                      
                  </td>
                  <td><a href="" ng-click="vm.teacherProfile(teacher)">{{teacher.TeacherFirstName|titleCase}}</a></td>
                  <td>{{teacher.MobileNumber}}</td>
                  <td>{{teacher.EmailId}}</td>
                  <td class="no-print">
                    <a ng-click="vm.edit(teacher)" type="button" class="btn btn-info btn-flat" title="Edit" tooltip><i class="glyphicon glyphicon-edit"></i></a>
                    <a ng-click="vm.remove(teacher,$index)" type="button" class="btn btn-danger btn-flat" title="Remove" tooltip><i class="glyphicon glyphicon-trash"></i></a>
                  </td>
              </tr>
              <tr ng-show="!vm.teachers.length"><td class="noTableData" colspan="5">No Teachers</td></tr>
          </tbody></table>
          <dir-pagination-controls boundary-links="true" template-url="common/directives/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div> 

      </div>
      
  </div>
  </div>
  <footer-generic></footer-generic>
</div>