<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <side-navigation></side-navigation> 
 
  <!--<div class="row">
    <div class="col-md-6 col-sm-12">
      <div>Showing list of teachers</div>
      <table>
        <tbody ng-repeat="teacher in vm.teachers">
          <tr>{{teacher.TeacherLastName}}</tr>
        </tbody>
      </table>
    </div>
  </div>-->
  <div class="container">
  <!--<div class="row">
    <div class="row list-group">-->
          <div ng-repeat="teacher in vm.teachers">
              <div>{{ teacher.TeacherLastName }}</div>
          </div>
    <!--</div>
  </div>-->
  </div>
 <footer-generic></footer-generic>
</div>